.field_body{
    border: 1px solid white;  
    opacity: 0.6;
    border-radius: 8px;
    width: 300px;
    height: 45px;
    left: 490px;
    top: 395px;
    margin-top: 10px; 
    padding-left: 10px;
    background-color:#264ECA;
    color: white;
}

.field_body::placeholder{
    color: white;
}
